# ===========================
# Python
# ===========================

# Cache do Python
__pycache__/
*.py[cod]

# ===========================
# Ambiente Virtual
# ===========================

venv/
.venv/

# ===========================
# Variáveis de Ambiente
# ===========================

.env

# ===========================
# VS Code
# ===========================

.vscode/

# ===========================
# Arquivos de Log
# ===========================

*.log

# ===========================
# Testes
# ===========================

.pytest_cache/

# ===========================
# Build
# ===========================

build/
dist/
*.egg-info/